<div class="container_O_padding container_0_margin">
  <div class="col-xs-12 col-md-6">
    <div class="container_O_padding container_0_margin">
      <div class="row">
        <div class="search_engin_result_page">
          <%= render 'shared/searching_engine' %>
        </div>
      </div>
      <% @nests.each_with_index do |nest, index| %>
        <div class="row">
          <div class='card_index_results'>
          <p><%= nest.address %> - <%= nest.city %> - <%= link_to 'show', "/nests/#{nest.id}" %></p>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <div class="container_0_padding col-xs-12 col-md-6">
    <div id="map" style="position: fixed; width: 100%; height: calc(100vh - 70px);"></div>
  </div>
</div>
<% content_for(:after_js) do %>
  <%= javascript_tag do %>
    $(document).ready(function() {
    var handler = Gmaps.build('Google');
    handler.buildMap({ internal: { id: 'map' } }, function() {
    markers = handler.addMarkers(<%= raw @hash.to_json %>);
    handler.bounds.extendWith(markers);
    handler.fitMapToBounds();
    if (markers.length == 0) {
      handler.getMap().setZoom(2);
    } else if (markers.length == 1) {
    handler.getMap().setZoom(14);
    }
    });
    });
  <% end %>
<% end %>
