<div class='container'>
  <div class="row row_zero">
    <div class="col-xs-12, col-sm-4">
      <div class="nest_description_box text-center">
        <div class='row'>
          <% if @nest.user.photo != "" && @nest.user.photo != nil %>
            <%= image_tag @nest.user.photo, class: "avatar_host" %>
          <% else %>
            <%= image_tag 'http://res.cloudinary.com/pack-your-skills/image/upload/v1479466113/avatar-coco_b2fb49.png', class: "avatar_host" %>
          <% end %>
        </div>
        <div class='row'>
          <% if user_signed_in? && current_user.id == @nest.user_id %>
            <h2>Welcome home <%= @nest.user.first_name %></h2>
            <p><%= link_to "delete my nest", nest_path(@nest), method: :delete, data: { confirm: "Are you sure?" }, class: "deviselink nest_show" %></p>
            <p><%= link_to 'edit', edit_nest_path(@nest), class: "deviselink nest_show" %></p>
            <p><%= link_to "manage avalabilities", nest_timeslots_path(@nest), class: "deviselink nest_show" %></p>
            <% else %>
            <h2>Nid de <%= @nest.user.first_name %></h2>
            <%= link_to 'see the profil', user_path(@nest.user) %>
            <p><%= @nest.description %></p>
          <% end %>
        </div>
      </div>
    </div>
    <div class="col-xs-12, col-sm-8">
      <div class="row row_one">
        <div class="col-xs-12, col-sm-7">
          <% if @nest.photo != "" && @nest.photo != nil %>
            <div class="nest_photo_box" style="background-image: url(<%= @nest.photo %>);"></div>
          <% else %>
            <div class="nest_photo_box" style="background-image: url('http://res.cloudinary.com/pack-your-skills/image/upload/v1479464093/nest-918898_960_720_xmlpk8.jpg');"></div>
          <% end %>
        </div>
        <div class="col-xs-12, col-sm-5">
          <div class="nest_summary_box">
            <h3>Max capacity</h3><p><%= @nest.max_capacity %> coworkers</p>
            <h3>Price</h3><p><%= @nest.price %> €</p>
            <h3>Opens at</h3><p><%= @nest.opening_hour %></p>
            <h3>Closes at</h3><p><%= @nest.closing_hour %></p>
          </div>
        </div>
      </div>
      <div class="row row_two">
        <div class="col-xs-12, col-sm-4">
          <div class="nest_equipment_box">
            <% if @nest.wifi %>
            <p><i class="fa fa-wifi fa-2x" aria-hidden="true"></i>Yes</p>
            <% else %>
            <p><i class="fa fa-wifi fa-2x" aria-hidden="true"></i>No</p>
            <% end %>
            <% if @nest.printer %>
            <p><i class="fa fa-print fa-2x" aria-hidden="true"></i>Yes</p>
            <% else %>
            <p><i class="fa fa-print fa-2x" aria-hidden="true"></i>No</p>
            <% end %>
            <% if @nest.phoning_room%>
            <p><i class="fa fa-phone-square fa-2x" aria-hidden="true"></i>Yes</p>
            <% else %>
            <p><i class="fa fa-phone-square fa-2x" aria-hidden="true"></i>No</p>
            <% end %>
            <% if @nest.coffee%>
            <p><i class="fa fa-coffee fa-2x" aria-hidden="true"></i>Yes</p>
            <% else %>
            <p><i class="fa fa-coffee fa-2x" aria-hidden="true"></i>No</p>
            <% end %>
          </div>
        </div>
        <div class="col-xs-12, col-sm-8">
          <div class="map_box">
            <div id="map" style="width: 100%; height: 40vh;"></div>
                      <% content_for(:after_js) do %>
                      <%= javascript_tag do %>
                      $(document).ready(function() {
                      var handler = Gmaps.build('Google');
                      handler.buildMap({ internal: { id: 'map' } }, function() {
                      markers = handler.addMarkers(<%= raw @hash.to_json %>);
                      handler.bounds.extendWith(markers);
                      handler.fitMapToBounds();
                      if (markers.length == 0) {
                      handler.getMap().setZoom(2);
                    } else if (markers.length == 1) {
                    handler.getMap().setZoom(14);
                  }
                });
              });
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container text-center link">
  <% if user_signed_in? %>
  <% if current_user.id == @nest.user_id %>
  <%= link_to "delete my nest", nest_path(@nest), method: :delete, data: { confirm: "Are you sure?" }, class: "deviselink nest_show" %>
  <%= link_to 'edit', edit_nest_path(@nest), class: "deviselink nest_show" %>
  <%= link_to "return to your profile", user_path(@user), class: "deviselink nest_show" %>
  <%= link_to "manage avalabilities", nest_timeslots_path(@nest), class: "deviselink nest_show" %>
  <% end %>
  <% end %>
</div>
