<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-4">
      <% if @user.photo != "" && @user.photo != nil %>
        <div class="box box_ratio_1_1" style="background-image: url(<%= @user.photo %>);"></div>
      <% else %>
       <div class="box box_ratio_1_1" style="background-image: url('http://res.cloudinary.com/pack-your-skills/image/upload/v1479466113/avatar-coco_b2fb49.png');"></div>
      <% end %>
       <div class="box_name">
        <h1><%= @user.first_name if @user.first_name != nil %></h1>
        <% if @user.birthdate != nil %>
          <p><%= @age %> ans</p>
        <% end %>
        <% if current_user.id == @user.id %>
          <%= link_to 'edit', edit_user_path, :class => "btn btn-primary btn-sm" %>
        <% end %>
       </div>
   </div>
   <div class="col-xs-12 col-sm-8">
    <div class="container-profil">
      <div class="row">
        <div class="col-xs-12 col-sm-6">
          <% if @user.story != "" && @user.story != nil %>
            <div class="box">
              <div class="title">his story</div>
              <div class="content_box">
                <p><%= @user.story %></p>
              </div>
            </div>
          <% end %>
          <% if @user.song_youtube_id != "" && @user.song_youtube_id != nil %>
            <div class="box box_song">
              <div class="title">his working song</div>
              <div class="content_box">
                <iframe width="100%" height="auto" src="http://www.youtube.com/embed/<%= @user.song_youtube_id %>" frameborder="0" allowfullscreen></iframe>
              </div>
            </div>
          <% end %>
        </div>
        <div class="col-xs-12 col-sm-6">
          <% if @user.quote != "" && @user.quote != nil %>
            <div class="box box_quote">
              <div class="title">his favorite quote</div>
              <div class="content_box">
                <p><%= @user.quote %></p>
              </div>
            </div>
          <% end %>
          <% if @user.website != "" && @user.website != nil %>
            <div class="box">
              <div class="content_box">
                <h1>Website</h1>
              </div>
              <div class="box_link"><%= link_to '', @user.website %></div>
            </div>
          <% end %>
          <% if @user.dream_coworker != ""  && @user.dream_coworker != nil %>
            <div class="box box_cowork">
              <div class="title">the coworker of his dream</div>
              <div class="content_box">
                <h1><%= @user.dream_coworker %></h1>
              </div>
            </div>
          <% end %>
          <% if @user.cv != ""  && @user.cv != nil %>
            <div class="box">
              <div class="box_link"><%= link_to '', @user.cv %></div>
              <div class="content_box">
                <h1>CV</h1>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
