<div class="banner" style="background-image: linear-gradient(-225deg, rgba(230,70,75,0.5) 0%, rgba(245,100,80,0.3) 50%), url('https://images.pexels.com/photos/7097/people-coffee-tea-meeting.jpg?w=940&h=650&auto=compress&cs=tinysrgb')">

  <div class="container">
    <div class="banner-content">
    <%= cl_image_tag("logo-coco_nbtefo.png",
      width: 400, height: 170, crop: :limit) %>
      <p>Work everywhere, like at your place</p>
    </div>
  </div>
  <%= render 'shared/searching_engine' %>
</div>


<div class="wrapper-beige">
  <div clas="container">
    <div class="row">
      <div class="col-xs-10 col-xs-offset-1">
        <div class="quote text-center">
          <h3>If you like the confort of your place but you prefer the atmosphere of a cowork, CosyCowork is the solution. Find somebody people around you who work from their place and who can borrow you a piece of table of a place in the sofa</h3>
        </div>
      </div>
    </div>
  </div>
  <div class="container padded">
    <div class="row">
      <div class="col-xs-6, col-sm-3">
        <div class="icon text-center">
          <div class="icon"><i class="fa fa-map-marker fa-5x" aria-hidden="true"></i></div>
          <p>Find people around you<br/>working from their place<br/>and happy to invite you</p>
        </div>
      </div>
      <div class="col-xs-6, col-sm-3">
        <div class="icon text-center">
          <div class="icon"><i class="fa fa-calendar fa-5x" aria-hidden="true"></i></div>
          <p>Ask for a booking<br/>if the place is available<br/>when you want to go there</p>
        </div>
      </div>
      <div class="col-xs-6, col-sm-3">
        <div class="icon text-center">
          <div class="icon"><i class="fa fa-bath fa-5x" aria-hidden="true"></i></div>
          <p>work from there<br/>with all you need<br/>in a great atmosphere</p>
        </div>
      </div>
      <div class="col-xs-6, col-sm-3">
        <div class="icon text-center">
          <div class="icon"><i class="fa fa-users fa-5x" aria-hidden="true"></i></div>
          <p>meet new people<br/>develop your network<br/>enjoy your time there</p>
        </div>
      </div>
    </div>
  </div>

  <div class="wrapper-brown text-center">
    <div class="container padded">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <h2>Les nids du mois</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-4">
          <div class="card" style="background-image: url('https://images.pexels.com/photos/169915/pexels-photo-169915.jpeg?w=940&h=650&auto=compress&cs=tinysrgb');">
            <div class="card-category"><h1>Lille</h1></div>
              <div class="card-description">
                <h2>Le nid de Zoé</h2>
                <p>Lumineux et bien équipé</p>
              </div>
              <%= image_tag "Coco-seul.png", class: "card-user avatar avatar-large" %>
          </div>
        </div>
        <div class="col-xs-12 col-sm-4">
          <div class="card" style="background-image: url('https://images.pexels.com/photos/94644/pexels-photo-94644.jpeg?h=350&auto=compress');">
            <div class="card-category"><h1>Paris</h1></div>
              <div class="card-description">
                <h2>Le nid de Roberto</h2>
                <p>Le meilleur café de la capitale</p>
              </div>
              <%= image_tag "Coco-seul.png", class: "card-user avatar avatar-large" %>
          </div>
        </div>
        <div class="col-xs-12 col-sm-4">
          <div class="card" style="background-image: url('https://images.pexels.com/photos/4915/wood-table-hut-cups.jpeg?w=940&h=650&auto=compress&cs=tinysrgb');">
            <div class="card-category"><h1>Wimereux</h1></div>
              <div class="card-description">
                <h2>Le nid de Johnny</h2>
                <p>Une musique qu'elle est bien pour travailler</p>
              </div>
              <%= image_tag "Coco-seul.png", class: "card-user avatar avatar-large" %>
          </div>
        </div>
      </div>
    </div>
  </div>

