<!DOCTYPE html>
<html>
  <head>
    <title>Coco</title>
    <link rel="shortcut icon" type="image/x-icon" href="http://res.cloudinary.com/pack-your-skills/image/upload/v1479311735/Coco-seul_cc1gzz.png" />
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <!-- Add these line for detecting device width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  </head>

  <body>
    <div id="main_container">
      <%= render 'shared/navbar' %>
      <div id="body">
        <%= yield %>
      </div>
      <% unless request.fullpath.include?('/nests?') %>
        <div id="footer">
          <%= render 'shared/footer' %>
        </div>
      <% end %>
    </div>
    <!-- for content_for -->
  <%= javascript_include_tag "https://maps.google.com/maps/api/js?libraries=places&key=#{ENV['GOOGLE_API_BROWSER_KEY']}" %>
  <%= javascript_include_tag "https://cdn.rawgit.com/printercu/google-maps-utility-library-v3-read-only/master/markerclusterer/src/markerclusterer_compiled.js" %>
  <%= javascript_include_tag "https://cdn.rawgit.com/printercu/google-maps-utility-library-v3-read-only/master/infobox/src/infobox_packed.js" %>

  <%= javascript_include_tag "application" %>

  <%= yield(:after_js) %>
  </body>
</html>

